.App {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(167deg, rgba(36,0,0,1) 0%, rgba(102,18,4,1) 38%, rgba(255,0,0,1) 100%);
}

.title {
  margin: 0;
  font-size: 60px;
  text-align: center;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
